/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
a{
    text-decoration: none;
    color:var(--gray-color);
}
li{
    list-style: none;
}
.discussion__wrapper{
    height: 450px;
    /* overflow-y:scroll; */
    transform: translateY(-27px);
}
.discussions__container{
    width:560px;
    margin-left: 10px;
    padding-top: 2px;
}
/* li */
.discussion__wrapper .discussion__container{ 
    width:540px;
    height: 80px;
    display: flex;
    align-items: center;
    border:1px solid #c5c5cce5;
    border-radius: 9px;
    margin-bottom: 10px;
    padding:15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.discussion__wrapper .discussion__container:hover{
    transform: scale(1.02);
}
/*image*/
.discussion__avatar--wrapper .discussion__avatar--image{
    border-radius:50%;
    width:48px;
    height: 48px;
    align-items: center;
    vertical-align: bottom;
    margin-right: 10px;
}
/*text - title, author, day*/
.discussion__content{
    justify-content: flex-start;
    flex-grow: 1;
    width: 400px;
}
.discussion__title{
    margin-bottom: 6px;
    font-size: 13px;
    width: 400px;
}
.discussion__information{
    font-size:10px;
    text-align: end;
    margin-right: 15px;
}
/* answer - check */
.discussion__answered{
    /* margin-left: 15px; */
    display: flex;
    align-items: flex-start;
}
.listPage{
text-align: center;
    padding:10px;
}
.listPage li{
    /* background-color: azure; */
    padding:8px;
    display: inline-block;
    margin:0 10px;
    font-size: 10px;
    cursor: pointer;
}
.listPage .active{
    background-color: #394EF5;
    color:white;
}