/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:var(--gray-color);
}
li{
    list-style: none;
}
.discussion__wrapper .discussion__container{
    width:540px;
    display: flex;
    align-items: center;
}
.discussion__content{
    justify-content: flex-start;
}
.discussion__avatar--wrapper .discussion__avatar--image{
    border-radius:50%;
    width:48px;
}

.discussion__content{
    font-size: 10px;
}
.discussion__answere{
    margin-left: 10px;
}