/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
a{
    text-decoration: none;
    color:var(--gray-color);
}
li{
    list-style: none;
}
