/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}ㅜ

main {
  margin: 0 auto;
  padding: 40px 0;
  background-color: #f9f9f9;
}

main h1 {
  padding: 20px 0;
  font-size: 48px;
  letter-spacing: -0.025em;
  text-align: center;
}

.form__container {
  display: flex;
  width: 100%;
  margin: 40px 0 80px;
  padding: 50px 0;
  justify-content: center;
  background-color: #3CB464;
}

.form__container form {
  margin: 0 auto;
}

.form__input--wrapper>div {
  display: flex;
  margin: 12px 0;
  align-items: center;
}

.form__input--wrapper>div:last-child {
  align-items: flex-start;
}

.form__input--wrapper label {
  display: block;
  width: 180px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #000;
}

.form__input--wrapper input,
.form__input--wrapper textarea {
  display: block;
  width: 800px;
  height: 40px;
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
}

.form__input--wrapper textarea {
  height: 150px;
}

.form__input--wrapper textarea::placeholder {
  color: #000;
  font-family: 'Pretendard';
}

.form__submit {
  margin: 30px 0;
  text-align: center;
}

.form__submit input {
  width: 180px;
  height: 60px;
  cursor: pointer;
}

.form__input--wrapper>div input:focus,
.form__input--wrapper>div input:active {
  background: none;
}

.discussions__container {
  max-width: 1200px;
  margin: 0 auto;
}

.discussion__container {
  display: flex;
  width: 100%;
  padding: 32px 35px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #D2F2EA;
}

.discussion__container:nth-child(2n) {
  background-color: #fff;
}

.discussion__avatar--wrapper {
  overflow: hidden;
  border-radius: 100%;
}

.discussion__avatar--image {
  display: block;
  width: 48px;
  height: 48px;
}

.discussion__content {
  padding: 0 10px;
  flex-grow: 1;
}

.discussion__title {
  margin-bottom: 3px;
}

.discussion__title a {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: #161917;
}

.discussion__information {
  font-size: 13px;
}

.discussion__answered p {
  color: #0BC1A8;
}

.paging__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.paging__container {
  display: flex;
}

.paging__container li {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.paging__container li.active {
  font-size: 16px;
  font-weight: 800;
  color: #3CB464;
}

.previous__button,
.next__button {
  display: block;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}