@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
  }
  
  /* :root {
    --main-border-color: rgb(235, 238, 240);
    --point-color: rgb(64, 0, 199);
  } */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    border: 0;
  }
  
  button,
  input {
    overflow: visible; /* 1 */
  }
  

  
  textarea {
    overflow: auto;
    resize: none;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    background-color: #F8ECD1;
    margin: 0 2%;
  }

  .header{
    flex: 2;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }

  .header h1{
    font-size: 3rem;
    /* color: #2E0074; */
    color: #170e63;
    font-family: 'Fascinate', cursive;
  }

  .main {
    flex: 7;
    display: flex;
  }

  .column1{
    flex: 3;
    background-color: #F8ECD1;
  }
  .column2{
    flex: 5;
    /* background-color: #fff; */
    background-color: #F8ECD1;
  }
  .column3{
    flex: 3;
    background-color: #F8ECD1;
  }
  
  .footer {
    flex: 1;
    background-color: #F8ECD1;
  }
  
