/* form */
.AgoraWrite {
  position: fixed;
  top: 70px;
  width: 540px;
  background-color: #ffd1d1;
  z-index: 5;
  height: 150px;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.AgoraWrite .form__input--wrapper {
  padding: 10px;
  margin-left: 20px;
}
.AgoraWrite .form__input--wrapper .form__input--name,
.AgoraWrite .form__input--wrapper .form__input--title,
.AgoraWrite .form__input--wrapper .form__textbox {
  margin: 10px;
  display: flex;
}
.AgoraWrite .form__input--wrapper label {
  margin-right: 10px;
  font-weight: 700;
}
.AgoraWrite .form__input--wrapper input,
.AgoraWrite .form__input--wrapper textarea {
  border: none;
  border-radius: 4px;
}
.AgoraWrite .form__submit {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.AgoraWrite .form__submit input {
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
}
