@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


li
{
    list-style: none;
}


body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6884bc;
}


button
{
    border: none;
    cursor: pointer;
}


a
{
    text-decoration: none;
    color: inherit;
}


input
{
    border: none;
}


input:focus
{
    outline: 1px solid #1d98f5;
}


textarea
{
    resize: none;
}


textarea:focus
{
    outline: 1px solid #1d98f5;
}


.hide
{
    /* display: none; */
    visibility: hidden;
}

.on
{
    z-index: 999;
}


/* title ui */



.header-title
{
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.discussion__btn-wrapper
{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 50px;
}


.add-btn
{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: #c4ecec;
}



/* form ui */
@keyframes fadeIn {
    from {  
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    animation: fadeIn 0.7s;
  }


.form__overlay
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}


.form__container
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


.form
{
    width: 600px;
    z-index: 999;
    
}


.form__textbox > textarea
{
    height: 150px;
}


.form__input--wrapper
{
    margin-bottom: 30px;
}


.form__input--name > input,
.form__input--title > input,
.form__textbox > textarea
{
    padding: 6px 10px;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid #cec8c8;
    border-radius: 5px;
    margin: 8px 0;
}


.form__submit
{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 10px;
}


.form__submit > input
{
    flex-grow: 2;
    padding: 14px 0;
    border-radius: 5px;
    background-color: #1d98f5;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
}


.close-modal
{   
    width: 600px;
    display: block;
    background-color: #eb5252;
    padding: 14px 0;
    border-radius: 5px;
    z-index: 999;
    font-size: 1.2rem;
    color: #fff;
}


.form label
{
    color: #fff;
}




/* card ui */
.discussion__container
{
    position: relative;
    width: calc(25% - 15px);
    /* flex-grow: 1; */
    height: 260px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.discussion__container:hover
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translateY(-3px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.discussions__container
{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.discussion__wrapper--div
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.discussion__avatar--wrapper
{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -26px;
    left: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.discussion__avatar--image
{
    width: 100%;
    height: 100%;
}


.discussion__title
{
    font-size: 1rem;
}


.discussion__container:not(:nth-of-type(4n))
{
    margin-right: 20px;
}


.discussion__content
{
    /* height: 80%; */
    margin-top: 16px;
    flex-grow: 1;
}


.discussion__information
{
    font-size: 0.8rem;
}


.discussion__answered
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* page nation */

.pagenation__container
{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 30px;
}


.pagenation__box
{
    display: flex;

}


.pagenation__btn
{
    width: 34px;
    height: 34px;
    margin: 0 16px;
    font-size: 1.2rem;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pagenation__btn--focus
{
    border: 2px solid #1d98f5;
    border-radius: 5px;
}


.discussion__delete
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.discussion__delete--btn
{
    background-color: inherit;
    height: 22px;
    font-size: 14px;
    font-weight: 500;
    color: #ff3251;
}