.discussion__wrapper {
    width: 80%;
    height: 90vh;
    margin-top: 30px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px 1px rgba(0, 79, 124, 0.712);
}
.discussion__wrapper::-webkit-scrollbar{
    width: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 20px;
}
.discussion__wrapper::-webkit-scrollbar-thumb {
    height: 10%;
    background-color: rgb(131, 118, 250);
    border-radius: 30px;
}


        /* UL */
.discussions__container { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    
}

        /* LI */
.discussion__container {
    width: 40%;
    display: flex;
    padding: 30px 10px;
    word-break: break-all;
    border-radius: 10px;
    box-shadow: 0 0 20px 3px rgba(0, 79, 124, 0.712);
    margin: 15px;
}

.discussion__information{
    font-size: 0.5rem;
}

            /* 왼쪽 아바타 */
.discussion__avatar--image,  .answered_avatar_img{
    border-radius: 50%;
    width: 30px;
    margin: 0 10px 0 15px;

}
            /* 질문 제목 */
a {
    text-decoration: none;
    color: black;
}
.discussion__title {
    margin: 0px;
    font-size: small;
    color:black;
}

            /* 작성자 정보 */
.discussion__information {
    margin: 0px;
}

            /* 질문 내용 */
.discussion__content {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    width: 85%;
}

  .question_content { /* 질문 내용의 제목 */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    background-color: rgba(0, 119, 255, 0.253);
    border-radius: 10px;
    padding: 10px;

}



.highlight {
    width: 100%;
}

pre, code {
    overflow:scroll;
    overflow-y: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: large;
    color:rgb(134, 59, 29);
}

pre::-webkit-scrollbar{
    width: 100%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 20px;
}
pre::-webkit-scrollbar-thumb {
    background-color: rgba(25, 0, 255, 0.377);
    border-radius: 20px;
}

code {
    font-size: x-large;
}


        /* 답변 박스 */
#answerBox {
    padding: 10px;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 79, 124, 0.712);
    background-color: rgba(17, 0, 255, 0.185);;
}

p {
    margin: 5px;
}


.modal {
    background-color: rgba(0, 255, 255, 0.281);
    opacity: 0.5;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50%;
    overflow: auto;
    border: 3px solid black;
    border-radius: 10px;
}