@font-face {
  font-family: 'LeferiPoint-BlackObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ghanachoco';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.banner {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;

  .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
  }

  .bannerContainer {
    width: 100%;
    height: 100vh;
    background: green;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 0;
    .box {
      position: relative;
      width: 100%;
      max-width: 1240px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .title {
        text-transform: uppercase;
        word-break: keep-all;
        font-family: 'ghanachoco';
        font-style: italic;
        letter-spacing: 5px;
        font-weight: bolder;
        text-shadow: 10px 10px 2px #2121218b;
        font-size: 150px;
        line-height: 150px;
        font-weight: bold;
        margin-top: 22%;
        margin-bottom: 2%;
      }
      .sub {
        font-size: 30px;
        line-height: 44px;
        letter-spacing: 2px;
      }
      .moveBox {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 43px;
      }
      .absBtn {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        cursor: pointer;
      }
    }
  }
}
#BannerDivider {
  margin-top: 100vh;
}