ul.discussions__container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2px;
  list-style-type: none;
  padding: 20px min(3vw, 30px) 40px min(3vw, 30px);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(158, 191, 221, 0.589);
  border-radius: 5px;
  box-shadow: var(--shadow-outer);
  transition: 0.6s all;
}

.tools {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.tools label:nth-of-type(2) {
  margin-left: auto;
}

.tools select {
  width: 60px;
  height: 30px;
}

/* discussion 항목 */
li.discussion__container {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  column-gap: 10px;
  background-color: var(--color-inner);
  border-radius: 5px;
  overflow: hidden;
}

li.discussion__container * {
  z-index: 1;
}

li.discussion__container::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  z-index: 0;
  transition: 0.6s all;
}

li.discussion__container:hover::after {
  width: 100%;
  background-color: rgb(178, 186, 190);
  opacity: 0.2;
  transition: 0.6s all;
}

/* 작성자 프로필 사진 */
.discussion__avatar--wrapper {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.discussion__avatar--wrapper img {
  width: 54px;
  height: 54px;
  border-radius: 200px;
  font-size: 0.7rem;
  font-style: italic;
  color: grey;
  text-align: center;
}

/* discussion 제목, 세부사항 */
.discussion__content {
  flex: 1 1 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 105px;
  padding: 10px;
}

/* discussion - 제목 */
h2.discussion__title {
  font-size: 1.2rem;
}

/* discussion - 링크 */
.discussion__title a {
  text-decoration-line: none;
}

h2.discussion__title a:link {
  color: var(--color-dark);
}

h2.discussion__title a:visited {
  color: var(--color-grey);
}

/* discussion - 작성자 아이디, 작성 시각 */
.discussion__information {
  display: flex;
  justify-content: end;
  font-size: 0.7rem;
  margin: 5px 10px 15px 10px;
}

/* 답변 완료 아이콘 */
.discussion__answered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 50px;
}

.discussion__answered img {
  width: 20px;
  content: url("../../public/img/icons8-check-64.png");
}

.discussion__answered img.notAnswered {
  content: url("../../public/img/icons8-circle-60.png");
}
