* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./hd-wallpaper-2695569_1920.jpg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1,
.form__container,
.form__submit > input {
  font-family: 'Teko', sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
}

.discussion__wrapper {
  width: 540px;
}

.discussion__container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: white;
}

li {
  list-style: none;
}

.discussion__avatar--wrapper {
  flex-grow: 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.discussion__avatar--image {
  border-radius: 100%;
  width: 48px;
}

.discussion__content {
  flex-grow: 1;
  margin-right: 10px;
}

.discussion__answered {
  flex-grow: 0;
}

.discussion__answered > p {
  font-size: 15px;
}

.discussion__information {
  text-align: right;
}

h2 {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.form__container {
  width: 540px;
}

#name,
#title,
#story {
  width: 540px;
  border: none;
  border-radius: 5px;
  padding: 3px;
  background-color: rgb(230, 230, 230);
}

.form__submit {
  text-align: center;
  margin-bottom: 4px;
}
  
.form__submit > input {
  font-size: 28px;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 59%;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0%);
  color: white;
}

.form__submit > input:hover {
  cursor: pointer;
}

.form__textbox {
  margin-bottom: 4px;
}

.discussion__information {
  font-size: 12px;
}

.form__input--wrapper {
  color: white;
}

.form__input--wrapper label {
  display: block;
  margin-bottom: 2px;
}

/* 페이지네이션 */
#pagenation {
  display: flex;
}

.pageNum {
  width: 20px;
  height: 20px;
  color: white
}