* {
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  max-width: 951px;
  width: 100%;
  margin: 50px auto;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
