/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: space-evenly;
  /* background-color: #22272e; */
  /* background-color: #2d333b; */
  
}
main > * {
  padding : 0.5rem;
}
h1{
  text-align: center;
  font-size: 3rem;
  /* color: #adbac7; */
  margin: 1.5rem;
}
main {
  display: flex;
  
}

div.container_wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
div.container_wrapper > section {
  margin: 1.5rem;
}

/* section */

/* section */
.discussion__wrapper {
}
.discussion_container {
  /* width: 50rem; */
  padding: 0.5rem;
  margin: 0.5rem;
  width: 540px;
  padding-left:0;
  display: flex;
  align-items: center;
}
.form__container{
  display: flex;
  justify-content: center;
}
li.discussion__container:hover{
/* div.form__submit>input:hover{ */
  /* background-color: #fff4d1; */
  /* opacity: 0.5; */
  transform:scale(1.05);  
  transition: transform .5s;
}
div[class*="discussion_container"] > img{
  margin-right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
}

/* 토글버튼 */
button.toggleBtn{
  background : transparent;
  border: none;
  /* width:2rem; */
  /* color: #adbac7; */
  margin-right: 0.5rem;
}
button.toggleBtn > svg {
  width: 1rem;
}

/* Discussion List */
ul>li{
  margin: 0.5rem;
  border-radius: 8px;
  list-style: none;
}
h2{
  font-size: 1rem;
}
a {
  text-decoration: none;
}
a:link, a:visited{
color: black;
}

li.discussion__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 540px;
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  background-color: white;
}
/* 변경 전 */
div.li_container{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33rem; 
  height: 5rem;
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 8px;
}
/* li */
/* 변경 후 */
div.li_container, div.discussion__container_li{  
  display: flex;
  flex-direction: column;
  width : 33rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  border-radius: 8px;
}
div.user_info_section,div.discussion_section{
  display: flex;
  align-items:center;
  /* padding: 0.2rem; */
}
div.discussion_section{
  padding: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
}
div.discussion_title{
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 유저 이미지 */
div.discussion__avatar--wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 0;
  padding: 0.5rem;
}
div.discussion__avatar--wrapper > img{
  border-radius: 50%;
  /* width: 48px; */
  width: 2rem;
}
div.discussion__information{
  display: flex;
  flex-grow: 1;
  align-items: center;
}
div.discussion__information > p:nth-child(2) {
  margin: 0 1rem;
  font-weight: 100;
  opacity: 0.8;
}
div.discussion__information > p{
  font-size: 0.8rem;
  color: gray;
  cursor: pointer;
}
/* user 질문 */
div.discussion__content{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex : 1 0 0;
  justify-content: center;
  
}


/* 답변유무 */
div.discussion__answered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size:larger;
}
div.discussion__answered {
  display: flex;
  flex-direction: row;
  color:#0064bd;
}
div.discussion__answered > button {
  background-color: transparent;
  border: none;
  margin: 0.2rem;
}
div.discussion__answered > button > svg{
  color:#0064bd;
}
div.discussion__answered > span{
  font-size: 1rem;
  font-weight: 500;
}

/* 페이지 버튼 */
.pagination-container{
  display: flex;
  justify-content: center;
}
nav.pagination-container > button, div#pagination-numbers > button {
  margin: 0.5rem;
  padding: 0.5rem;
  /* padding-left : 0; */
  border : none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.active{
  color: white;
  /* background-color: #2f6f44; */
  background-color: #0064bd;
}

/* 검색창 div.search_wrapper, div.serach_container , label.search_container_label > img + input */
div.search_wrapper{
  margin: 0.5rem;
  margin-top: 0;
  padding: 0.5rem ;
  border-radius: 8px;
  /* border : 1px solid black; */
  /* background-color: #16181c; */
  border : 2px solid gray;
}
button.search_icon{
  background : transparent;
  border: none;
}
button.search_icon > svg {
  color:gray; 
}
label.search_container_label{
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  align-items: center;
}
label.search_container_label > input {
  margin: 0 0.5rem;
  border: none;
  flex : 1 0 0;
  outline: none;
  font-size: 1rem;
  /* background-color: transparent; */
  /* color:  #16181c; */
  /* background-color: #16181c; */
}

/* 입력창 */
form.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  margin: 0.5rem;
  border-radius: 8px;
  /* background-color: #2f6f44; */
  background-color: #3fb950;;
  /* width: 350px; */
  width: 25rem;
  height: 25rem;
  border-color:#444c56;
}
div.form__input--wrapper{
  flex: 8 0 auto;
  padding: 0 0.2rem;
}
div.form__input--name, div.form__input--title, div.form__textbox{
  display: flex;
  padding: 0.2rem;
  border: none;
}
div.form__input--name > input  , 
div.form__input--title > input, 
div.form__textbox > textarea{
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.5rem;
}
div.form__input--title > input {
  flex: 1 0 0 ;   
}
div.form__textbox > textarea{
 flex: 1 0 0;
 resize: none;
  height: 10rem;
}

/* submit 버튼 */
div.form__submit{
  display: flex;
  justify-content: flex-end;
  padding: 0 0.2rem;
}
div.form__submit>input{
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #2f6f44;
  color: white;
  border: none;
}

/* topBtn */
div.top_btn_section{
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 100px;
}
button.topBtn {
 border: none;
 background-color: transparent;
 cursor: pointer;
}

button.topBtn > svg {
  color:#444c56;
}


/* class 추가 목록 */
.disabled{
  display: none;
}

.notice_discussion_wrapper , .others_discussion_wrapper {
  background-color: #ffcc01;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  margin: 0.2rem;
}
.notice_discussion_container, .others_discussion_container {
  /* width: 50rem; */
  padding: 0.5rem;
  margin: 0.5rem;
  padding-left:0;
  display: flex;
  align-items: center;
  width: 540px;
}

.others_discussion_wrapper {
  background-color: #0064bd;
}

button.toggle{
  background: transparent;
  border: none;
  margin-right: 0.5rem; 
  font-size: 1.5rem;
}