.discussion__wrapper {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 700px;
  border-radius: 50px;
  box-shadow: 3px 3px 20px #01010117, -3px -3px 10px #01010117;
  padding: 15px;
  margin: 30px;
}

.discussion__profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.discussion__profile img {
  width: 48px;
  border-radius: 70%;
}

.discussion__content {
  width: 500px;
}

.discussion__answered {
  width: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}
